.second
{
    width: 500px;
    text-align: "center";
    display: inline-block;
    margin-top: 120px;
    
}
.extra {
    margin-right:16px;
    }
  .newone
  
{
    background-color: rgb(0, 204, 255);
    background-size: 500px;
    color:black; 
    color-adjust: blue;
}
    
  